body span {
    font-size: 22px;
    color: whitesmoke;
    margin-top: 35px;
    margin-bottom: 8px;
}


.add-task-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


.form-cont {
    width: 950px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.35);
    border: solid 1px rgb(31, 233, 223);
}


.left-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 35px;
}


.right-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 35px;
}


.input-field {
    width: 400px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    padding-left: 17px;
    box-sizing: border-box;
    font-size: 16px;
}


.description-field {
    width: 400px;
    min-height: 85px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    padding-left: 17px;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 16px;
}


.selector {
    width: 400px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    padding-left: 17px;
    box-sizing: border-box;
    font-size: 16px;
}


.button {
    width: 400px;
    height: 38px;
    margin-top: 64px;
    background-color: rgba(31, 233, 223, 0.55);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    transition: background-color, 225ms ease-in-out;
    transition: all 225ms ease-in-out;
    font-size: 16px;
}


.button:hover {
    background-color: rgba(31, 233, 223, 0.85);
    color: rgb(22, 22, 22); 
}


.personal-img {
    border-radius: 50%;
    border: solid 1px rgb(31, 233, 223);
    box-sizing: border-box;
    object-fit: cover;
    object-position: 50% 0%;
    width: 91px;
    height: 91px;
}


.creator-cont {
    display: flex;
    align-items: center;
}


.creator-select {
    width: 273px;
    margin-left: 35px;
}