.info-cont {
    margin-top: 48px;
    background-color: rgba(0, 0, 0, 0.30);
    border: solid 1px rgb(31, 233, 223);
    padding: 24px;
    box-sizing: border-box;
    min-height: 110px;
    max-height: 70vh;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.main-cont {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 21px;
}

.backlog-file-container {
    display: flex;
}

.backlog-file {
    position: relative;
    height: 80px;
    width: 1340px;
    background-color: rgba(0, 0, 0, 0.55);
    border: solid 1px rgb(31, 233, 223);
    border-right: none;
    margin: 12px;
    margin-right: 0;
    display: flex;
}

.backlog-file:hover {
    cursor: pointer;
}

.header-cont {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    height: 35px;
}

.urgency-color-invisible {
    width: 18px;
    height: 80px;
    margin-right: 35px;
}

.creator-img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-right: 42px;
    margin-top: 7px;
    border: solid 1px rgb(31, 233, 223);
}

.creator-img-invisible {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-right: 35px;
}

.creator {
    width: 280px;
    margin-right: 35px;
}

.title {
    width: 280px;
    margin-right: 35px;
}

.description {
    width: 350px;
    height: 65px;
    margin-right: 35px;
    overflow: auto;
}

.finalday {
    width: 168px;
}

.padding-top {
    padding-top: 10px;
}

.deleteImg {
    height: 50px;
    width: 38px;
    margin-top: 15px;
    margin-left: 10px;
}

.deleteImg:hover {
    cursor: pointer;
}

.deleteImg-container {
    width: 60px;
    height: 80px;
    margin: 12px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    border: solid 1px rgb(31, 233, 223);
    border-left: none;
}

.Normal {
    width: 18px;
    height: 80px;
    margin-right: 35px;
    background-color: rgb(251, 255, 0);
}

.Hoch {
    width: 18px;
    height: 80px;
    margin-right: 35px;
    background-color: rgb(255, 0, 106);
}

.Niedrig {
    width: 18px;
    height: 80px;
    margin-right: 35px;
    background-color: rgb(107, 221, 0);
}

.info-box {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(31, 233, 223, 0.55);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    font-size: 22px;
    box-sizing: border-box;
}

.deleteImg-container:hover+.info-box {
    display: flex;
}

.add-info {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(31, 233, 223, 0.55);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    font-size: 22px;
    box-sizing: border-box;
}

.backlog-file:hover>.add-info {
    display: flex;
}