.info-cont {
    margin-top: 48px;
    padding: 24px;
    min-height: 110px;
    max-height: 630px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
}

.backlog-cont {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 19px;
    padding: 0 180px;

}

.backlogfile-cont {
    max-height: 550px;
    overflow-y: auto;
   overflow-x: hidden;
}

/* change scrollbar attributes  */
.backlogfile-cont::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.35);
}

.backlogfile-cont::-webkit-scrollbar-thumb {
    background-color: rgb(0, 110, 255);
}

/* ---------- */

.backlog-file-container {
    display: flex;
    padding: 12px;
}

.backlog-file {
    position: relative;
    display: flex;
    align-items: center;
    height: 68px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px rgb(0, 114, 255);
    border-right: none;
    box-sizing: border-box;
    font-size: 17px;

    transition: all 85ms ease-out;
}

.backlog-file:hover {
    cursor: pointer;
}

.backlog-file:active {
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    color: white;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 100%;
}

.urgency-container {
    width: 10px;
    height: 100%;
}

.creator-img {
    width: 58px;
    height: 58px;
    margin-left: 4px;
}

.creator {
    width: 80px;
    margin-left: 12px;
}

.creator-headline {
    width: 172px;
    margin-left: 12px;
}

.title {
    width: 170px;
}

.description {
    width: 220px;
    height: 61px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-headline {
    width: 220px;
}

.deleteImg {
    height: 38px;
    width: 38px;
}

.deleteImg:hover {
    cursor: pointer;
}

.delete-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 68px;
    background-color: rgba(0, 0, 0, 0.80);
    border: solid 1px rgb(0, 114, 255);
    border-left: none;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    height: 66px;
    width: 100%;
}

.Choose {
    background-color: white;
}

.Low {
    background-color: rgb(0, 114, 255);
}

.Normal {
    background-color: rgb(107, 221, 0);
}

.Medium {
    background-color: rgb(251, 255, 0);
}

.High {
    background-color: rgb(255, 0, 64);
}

.info-box {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: calc(100% - 8px);
    height: 100%;
    top: 0px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(0, 114, 255);
    font-size: 19px;
    letter-spacing: 8px;
    font-weight: 600;
}

.finalday {
    width: 90px;
    margin-right: 66px;
}


/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1240px) {
    .info-cont {
        max-height: 592px;
    }

    .backlogfile-cont {
        max-height: 460px;
    }

    .backlog-cont {
        padding: 0 80px;
    }

    .backlogfile-cont {
        max-height: 512px;
    }

}

@media only screen and (max-width: 980px) {
    .backlog-cont {
        padding: 0 80px;
    }

    .backlogfile-cont {
        max-height: 540px;
    }

    .backlog-file-container {
        position: relative;
        display: flex;
        padding: 12px;
        height: 180px;
        width: 310px;
    }

    .title {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 190px;
    }

    #finishDate {
        position: absolute;
        top: 8px;
        right: 14px;
    }

    .urgency-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 6px;
    }

    .creator-img {
        position: absolute;
        top: 42px;
        right: 22px;
        width: 58px;
        height: 58px;
        margin: 0;
    }

    .creator {
        position: absolute;
        width: 80px;
        right: 0px;
        bottom: 52px;
    }

    .description {
        position: absolute;
        top: 41px;
        left: 10px;
        width: 200px;
        height: 122px;
        -webkit-line-clamp: 6;
    }

    .delete-img-container {
        position: absolute;
        bottom: 14px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: rgba(0, 0, 0, 0) !important;
        border: none !important;
        border-left: none;
        box-sizing: border-box;
    }

    .header-cont {
        display: none;
    }

    .info-cont {
        display: flex;
        justify-content: center;
        align-items: unset;
        height: unset;
        width: unset;
        min-height: 250px;
        min-width: 400px;
        max-height: 586px;
    }

    .backlog-file {
        height: 180px;
    }
}

@media only screen and (max-width: 800px) {
    .info-cont {
        max-height: 550px;
        margin-top: 32px;
    }
}

@media only screen and (max-width: 580px) {
    .info-cont::-webkit-scrollbar {
        width: 0;
    }

    .backlog-cont {
        padding: 0 40px;
    }

    .info-cont {
        width: 100%;
        min-height: 250px;
    }
}

@media only screen and (max-width: 460px) {
    .backlog-cont {
        padding: 0;
    }

    .backlogfile-cont::-webkit-scrollbar {
        width: 0;
    }
}

@media only screen and (max-width: 380px) {
    .backlog-file-container {
        margin-top: 24px;
        padding: 0;
    }

    .delete-img-container {
        bottom: 5px;
        right: 5px;
    }

    .info-cont {
        padding: 0;
    }
}