.main-div {
  margin: 36px;
	background-color: rgba(0, 0, 0, 0.30);
    border: solid 1px rgb(31, 233, 223);
    padding: 22px;
	display: flex;
	justify-content: space-around;
}

.category-header {
	color: whitesmoke;
	font-size: 21px;
	margin: 15px;
}

.category-cont {
	width: 350px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.55);
    border: solid 1px rgb(31, 233, 223);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.todo {
width: 320px;
height: 70px;
padding: 3px 13px;
border: solid 1px rgb(31, 233, 223);
background-color: rgba(31, 233, 223, 0.55);
color: whitesmoke;
box-sizing: border-box;
}