.main-div {
	margin: 36px;
	background-color: rgba(0, 0, 0, 0.30);
	border: solid 1px rgb(31, 233, 223);
	padding: 22px;
	display: flex;
	justify-content: space-around;
}

.category-header {
	color: whitesmoke;
	font-size: 21px;
	margin: 15px;
}

.category-cont {
	width: 350px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.55);
	border: solid 1px rgb(31, 233, 223);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.todo {
	width: 320px;
	height: 120px;
	padding-right: 3px;
	border: solid 1px rgb(31, 233, 223);
	background-color: rgba(31, 233, 223, 0.55);
	color: whitesmoke;
	box-sizing: border-box;
	display: flex;
}

.urgency {
	width: 18px;
	height: 100%;
	margin-right: 7px;
}

.todo-cont {
	display: flex;
	justify-content: space-between;
}

.todo-title {
	font-size: 18px;
	margin: 0px;
	margin-top: 6px;
}

.descritpion-cont {
	width: 265px;
	height: 88px;
	overflow-y: auto;
	display: flex;
	justify-content: space-between;
}

.deleteImg {
	width: 35px;
	height: 28px;
	margin-right: -5px;
	margin-bottom: 3px;
}

.trash-img {
	display: flex;
	justify-content: end;
	align-items: flex-end;
}

.todo-description {
	width: 265px;
	margin-top: 10px;
	overflow-wrap: break-word;
}

.Normal {
	background-color: rgb(251, 255, 0);
}


.Hoch {
	background-color: rgb(255, 0, 106);
}


.Niedrig {
	background-color: rgb(107, 221, 0);
}

.final-day {
margin-top: 6px;
margin-right: 4px;
}