.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;
   }

.img-container {
    width: 950px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.35);
    border: solid 1px rgb(0, 114, 255);
}

.container-buttons {
    height: 480px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
}

#small-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small-picture {
    height: 90px !important;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid transparent;
}

.small-picture:hover {  
     border: solid 1px  rgb(0, 114, 255);
}

.active-picture {
    border: 5px solid white;
}

h1 {
    text-align: center;
    color: white;
}

.active-bg {
    border: 5px solid white;
}