.footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 76px;
    color: white;
    padding-left: 180px;
    padding-right: 180px; 
    background-color: rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

p {
    margin: 0px;
}

.footer-cont a {
    color: white;
    font-size: 18px;
  text-decoration: none; 
}

.copyright {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
}

.footer-links a {
    text-decoration: underline;
    margin-left: 18px;
    margin-right: 18px;
    animation: all 80ms ease-in-out;
}

.footer-links a:hover {
color: rgb(0, 114, 255);
}

.margin {
    margin-top: -10px;
}

.img-cont {
    width: 32px;
    height: 32px;
    transition: all 120ms ease-in-out;
}

.img-cont:hover {
    transform: scale(1.3);
}

.cont-right {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 480px) {
   
}

@media only screen and (max-width: 360px) {
   
}