header {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 76px;
	width: 100vw;
	padding-left: 180px;
	padding-right: 180px;
	background-color: rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

.header-menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 520px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: rgba(0, 0, 0, 0.25);
}


.workspaces-selector {
	background-color: rgba(0, 0, 0, 0.25);
	color: white;
	font-size: 16px;
	width: 150px;
	height: 32px;
	border: solid 1px rgba( 0, 114, 255, 1);
	padding-left: 17px;
	box-sizing: border-box;

}

.logo {
	width: 39px;
    margin-top: 12px;
    margin-right: 1px;
}

.project-name {
	font-size: 35px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	margin-right: 18px;
}

.logo-cont {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 54px;
}

.left-cont {
	display: flex;
	align-items: center;
	width: 530px;
	margin-top: -11px;
	
}

.right-cont {
	display: flex;
	justify-content: space-between;
	width: 220px;
}

.header-link {
	text-decoration: none;
	font-size: 16px;
    padding: 6px 22px;
	background-color: rgba(0, 0, 0, 0.55);
	color: white;
	color: rgba( 0, 114, 255, 1);
	transition: all 125ms ease-in-out;
}

.header-link:hover {
	background-color: rgba(0, 0, 0, 0.30);
	color: white;
}

.light-modus-img {
	width: 86px;
	height: 35px;
}

.high-letter {
	color: white;
	font-size: 30px;
	border-bottom: solid 2px rgba( 0, 114, 255, 1);
}

.low-letter {
	color: white;
	font-size: 18px;
}

.motto-cont {
	display: flex;
	align-items: baseline;
}

.logo-name {
	font-size: 14px;
	color: rgba( 0, 114, 255, 1);
	margin-top: -15px;
	margin-left: 2px;
}

.triangle-top-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 200px 50px 0;
	border-color: transparent rgba(0, 0, 0, 0.25);
}

.triangle-top-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 200px;
	border-color: transparent rgba(0, 0, 0, 0.25);
}

.menu-container {
	display: flex;
	justify-content: center;
}

.color {
	color: white;
}

.color:hover {
	color: rgba( 0, 114, 255, 1);
}