.header {
height: 60px;
padding: 8px 30px;
background-color:  rgba(0, 0, 0, 0.45);
display: flex;
align-items: center;
justify-content: space-between;
}


.logo-pointer {
	width: 32px;
}

.workspaces-selector {
	background-color: rgba(0, 0, 0, 0.45);
	color: whitesmoke;
	width: 150px;
    height: 32px;
	border: solid 1px rgb(31, 233, 223);
}

.logo {
	width: 53px;
}

.h1 {
	size: 28px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: whitesmoke;
	margin-left: 8px;
	margin-right: 50px;
}

.left-cont {
	width: 400px;
	display: flex;
	align-items: center;
}

.search-Button {
	width: 27px;
    margin-left: 8px;
}

.input-search {
	background-color: rgba(0, 0, 0, 0.45);
	color: whitesmoke;
	width: 210px;
    height: 32px;
	border: solid 1px rgb(31, 233, 223);
	box-sizing: border-box;
}
 
.search-cont {
	display: flex;
	align-items: center;
}

.header-link {
	margin-left: 60px;
	text-decoration: none;
	font-size: 21px;
	padding: 3px 13px;
    border: solid 1px rgb(31, 233, 223);
    background-color: rgba(31, 233, 223, 0.55);
    color: whitesmoke;
}

.light-modus-img {
    width: 86px;
    height: 35px;
}
