.header {
height: 60px;
padding: 8px 30px;
background-color:  rgba(0, 0, 0, 0.45);
display: flex;
align-items: center;
justify-content: space-between;
}

.workspaces-selector {
	background-color: rgba(0, 0, 0, 0.45);
	color: whitesmoke;
	width: 150px;
    height: 25px;
}

.logo {
	width: 53px;
}

.h1 {
	size: 28px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: whitesmoke;
	margin-left: 8px;
	margin-right: 50px;
}

.left-cont {
	width: 400px;
	display: flex;
	align-items: center;
}

.search-Button {
	width: 22px;
    margin-left: 10px;
}

.input-search {
	background-color: rgba(0, 0, 0, 0.45);
	color: whitesmoke;
	width: 150px;
    height: 26px;
}

.search-cont {
	display: flex;
	align-items: center;
}

.header-link {
	color: whitesmoke;
	margin-left: 60px;
	text-decoration: none;
	font-size: 27px;
	padding: 3px 13px;
    border: solid 1px rgb(31, 233, 223);

}

/* login */
