.header {
height: 60px;
padding: 8px 30px;
background-color:  rgba(0, 0, 0, 0.45);
display: flex;
align-items: center;
justify-content: space-between;
}


.workspaces-selector {
	background-color: rgba(0, 0, 0, 0.45);
	color: whitesmoke;
	width: 150px;
    height: 32px;
	border: solid 1px rgb(31, 233, 223);
	padding-left: 17px;
    box-sizing: border-box;
    font-size: 16px;
}

.logo {
	width: 60px;
}

.project-name {
	font-size: 35px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: whitesmoke;
	/*  margin: 0px, 18px, 0px, 13px;  */
	margin-top: 6px;
	margin-right: 18px;
	margin-bottom: 0;
	margin-left: 0px;
}

.left-cont {
	width: 5ยง0px;
	display: flex;
	align-items: center;
}

.middle-cont {
	margin-right: 60px;
}

.search-Button {
	width: 27px;
    margin-left: 8px;
}

.input-search {
	background-color: rgba(0, 0, 0, 0.45);
	color: whitesmoke;
	width: 210px;
    height: 32px;
	border: solid 1px rgb(31, 233, 223);
	box-sizing: border-box;
}
 
.search-cont {
	display: flex;
	align-items: center;
}

.header-link {
	margin-left: 60px;
	text-decoration: none;
	font-size: 21px;
	padding: 3px 13px;
    border: solid 1px rgb(31, 233, 223);
    background-color: rgba(31, 233, 223, 0.55);
    color: whitesmoke;
	transition: all 225ms ease-in-out;
}

.header-link:hover {
    background-color: rgba(31, 233, 223, 0.85);
    color: rgb(22, 22, 22); 
}

.light-modus-img {
    width: 86px;
    height: 35px;
}

.high-letter {
	color: whitesmoke;
	font-size: 36px;
	border-bottom: solid 2px rgb(31, 233, 223);
}

.low-letter {
	color: whitesmoke;
	font-size: 18px;
}

.motto-cont {
	display: flex;
	align-items: baseline;
}

.logo-name {
	font-size: 14px;
	color: rgb(31, 233, 223);
margin-top: -15px;
margin-left: 2px;
}