.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: whitesmoke;
    max-height: 550px;
    margin: 40px 180px;
    padding: 24px;  
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.65);
    border: solid 1px rgba(0, 0, 0, 0.75); 
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-y: auto;
}

 /* change scrollbar attributes  */
 .main-cont::-webkit-scrollbar {
    width: 8px;
	background-color: rgba(255, 255, 255, 0.35);
}

.main-cont::-webkit-scrollbar-thumb {
	background-color: rgb(0, 110, 255);
}


/* ---------- */


/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 480px) {
   
}

@media only screen and (max-width: 360px) {
   
}