.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 476px;
    padding: 22px;
    margin: 60px 300px 200px 300px;
    background-color: rgba(0, 0, 0, 0.30);
    color: whitesmoke;
}

.h1 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.index-text {
    font-size: 20px;
}

.margin12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.headline-container {
    width: 900px;
    height: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 120px 12px 120px;
    background-color: rgba(0, 0, 0, 0.35);
    color: whitesmoke;
    box-sizing: border-box;
}

.index-container {
    justify-content: space-around;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    width: 900px;
    height: 50px;
    font-size: 28px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.65);
}


/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 480px) {
   
}

@media only screen and (max-width: 360px) {
   
}