.main-div {
    height: 50vh;
    margin: 140px 300px 200px 300px;
    background-color: rgba(0, 0, 0, 0.30);
    border: solid 1px rgb(31, 233, 223);
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.h1 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3px;
    font-size: 21px;
    padding: 3px 13px;
    border: solid 1px rgb(31, 233, 223);
    background-color: rgba(31, 233, 223, 0.55);
    transition: all 225ms ease-in-out;
}

.btn-img:hover {
    background-color: rgba(31, 233, 223, 0.85);
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.btn-img a:hover {
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.btn-img a {
    text-decoration: none;
    color: whitesmoke;
}

.index-text {
    font-size: 20px;
}

.margin12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.headline-container {
    width: 900px;
    height: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 120px 12px 120px;
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    border: solid 1px rgb(31, 233, 223);
    box-sizing: border-box;
}

.index-container {
    justify-content: space-around;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-size: 21px;
    padding: 3px 13px;
    border: solid 1px rgb(31, 233, 223);
    background-color: rgba(31, 233, 223, 0.55);
    box-sizing: border-box;
    transition: all 225ms ease-in-out;
}

.index-btn:hover {
    background-color: rgba(31, 233, 223, 0.85);
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.start-btn {
    width: 900px;
    height: 50px;
    font-size: 24px;
}