
body {
    margin: 0px;
    background-image: url('../img/backgrounds/tropic_leaves.png');
   /*  background-color: rgb(32, 139, 238);
   background-image: url('../img/leaves-gc07a7129d_1920.png'); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;   
}

.D-none {
    display: none;
}

.index-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    height: 38px;
    margin-top: 64px;
    font-size: 20px;
    padding: 3px 13px;
   /* border: solid 1px rgb(31, 233, 223); */
    background-color: rgba(31, 233, 223, 0.55);
    box-sizing: border-box;
    transition: all 125ms ease-in-out;
}

.index-btn:hover {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(31, 233, 223);
    cursor: pointer;
}

.m6 {
margin: 6px;
}

/*dataProtection and impressum section*/

.data-cont-style {
    margin-top: 65px;
    margin-left: 35px;
    margin-right: 35px;
    min-width: 1100px;
}

