
body {
    margin: 0px;
    background-image: url('../img/leaves-gc07a7129d_1920.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;    
}

.D-none {
    display: none;
}