<div class="footer-cont">
    <div class="copyright">
        <p>&copy copyright 2021</p>
        <p class="margin">by JOIN.io</p>
    </div>
    <div class="footer-links">
       <a href="#"> <p>Datenschutz</p> </a>
       <a href="#"> <p>Impressum</p></a>
       <a href="#"> <p>AGB</p></a>
    </div>

    <div class="cont-right">
      <a href="#"> <img class="img-cont" src="../img/social_icons/facebook-64.ico"></a>
       <a href="#"> <img class="img-cont" src="../img/social_icons/telegram-64.ico"></a>
       <a href="#"> <img class="img-cont" src="../img/social_icons/twitter-64.ico"></a>
    </div>


</div>