<div class="footer-cont">
    
        <p class="copyright">&copy copyright 2021 by KISS.io</p>
   
    <div class="footer-links">
       <a class='tres' href="dataProtection.html"> <p>Datenschutz</p> </a>
       <a class='tres' href="#"> <p>Impressum</p></a>
    </div>

    <div class="cont-right">
      <a href="#"> <img class="img-cont" src="../img/social_icons/facebook-64.ico"></a>
       <a href="#"> <img class="img-cont" src="../img/social_icons/telegram-64.ico"></a>
       <a href="#"> <img class="img-cont" src="../img/social_icons/twitter-64.ico"></a>
    </div>
</div>