<body>
   <div class="footer-cont">
      <p translate="no" class="copyright">&copy2022 by Peter Steinlesberger</p>
      <div class="footer-links">
         <a href="dataProtection.html">Datenschutz</a>
         <a href="impressum.html">Impressum</a>
      </div>
      <button onclick="showMenu()">Check</button>
      <div class="cont-right">
         <a href="https://www.github.com/PeterSteinlesberger" target="_blank"> <img class="img-cont"
               src="img/social_icons/github_white.png"></a>
         <a href="https://www.linkedin.com/in/peter-steinlesberger-a84067229/" target="_blank"> <img class="img-cont"
               src="img/social_icons/linkedin_white.png"></a>
      </div>
   </div>
</body>