<header>
  <div class="header">
    <div class="left-cont">
      <a class="logo-cont" href="index.html">
        <img class="logo" src="img/Logo/logo.png" alt="">
        <div>
          <p translate="no" class="project-name">KISS</p>
          <p translate="no" class="logo-name">P r o j e c t</p>
        </div>
      </a>
      <div class="motto-cont">
        <p translate="no" class="high-letter1" style="border: none;">>>> &nbsp</p>
        <p translate="no" class="high-letter">K</p>
        <p translate="no" class="low-letter">EEP &nbsp</p>
        <p translate="no" class="high-letter">I</p>
        <p translate="no" class="low-letter">T &nbsp</p>
        <p translate="no" class="high-letter">S</p>
        <p translate="no" class="low-letter">HORT &nbsp</p>
        <p translate="no" class="low-letter">AND &nbsp</p>
        <p translate="no" class="high-letter">S</p>
        <p translate="no" class="low-letter">IMPLE &nbsp</p>
      </div>
    </div>
    <div id="menuContainer" class="right-cont">
      <a id="designBtn" class="header-link btn-style" href="chooseBackground.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>DESIGN</a>
      <a id="helpBtn" class="header-link btn-style" href="help.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>HELP</a>
      <!-- google translate function -->
      <div id="google_translate_element" class="header-link btn-style" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img class="googletranslate-logo" src="./img/translate_white.png">
      </div>
    </div>
    <div id="menuBtn" class="hamburger-icon" onclick="menuBtn()">
      <div class="hamburger-line"></div>
      <div class="hamburger-line1"></div>
    </div>
  </div>
  <div class="menu-container">
    <div class="triangle-top-right"></div>
    <div class="header-menu-container">
      <a id="addTaskBtn" class="header-btn" translate="no" onclick="highlightActiveBtn()" href="addTask.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>ADD TASK</a>
      <a id="backlogBtn" class="header-btn" translate="no" onclick="highlightActiveBtn()" href="backlog.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>BACKLOG</a>
      <a id="boardBtn" class="header-btn" translate="no" onclick="highlightActiveBtn()" href="board.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>BOARD</a>
    </div>
    <div class="triangle-top-left"></div>
  </div>
</header>