<header class="header">
  <div class="left-cont">
    <img class="logo" src="img/Logo/54-removebg-preview.png" alt="">
    <div class="logo-div">
      <p class="project-name">KISS</p>
      <p class="logo-name">P r o j e c t</p>
    </div>
    <div class="motto-cont">
      <p class="high-letter" style="border: none;">>>> &nbsp</p>
      <p class="high-letter">K</p>
      <p class="low-letter">EEP &nbsp</p>
      <p class="high-letter">I</p>
      <p class="low-letter">T &nbsp</p>
      <p class="high-letter">S</p>
      <p class="low-letter">HORT &nbsp</p>
      <p class="low-letter">AND &nbsp</p>
      <p class="high-letter">S</p>
      <p class="low-letter">IMPLE &nbsp</p>
    </div>
  </div>
  <div class="middle-cont">
      <a class="header-link" href="addTask.html">NEUE AUFGABE</a>
      <a class="header-link" href="backlog.html">ÜBERSICHT</a>
      <a class="header-link" href="board.html">BOARD</a>
    </div>
    <div class="right-cont">
      <a class="header-link" href="chooseBackground.html">DESIGN</a>
      <a class="header-link" href="help.html">HELP</a>
    </div>
  

  <!-- google translate function -->
  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'de', includedLanguages: 'en,fr,es,it,de' }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</header>